@font-face{
    font-family: IranSans;
    src: url(../fonts/IRANSANS.TTF);
}
body,html{
    font-family: IranSans;
    width: 100%;
    height: 100%
}
.bg-img{
    background-image: url("../imgs/back.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.text-shadow{
    text-shadow: black 4px 4px 6px;
}
.bg-light-o{
    background-color: rgba(248, 249, 250, 0.70) !important
}
.evand-widget-event-registration .evand-panel{
    margin: 0 !important;
    max-width: unset !important;
}
.full-bg{
    width: 100%;
    min-height: 50%;
    background-size: cover;
    background-attachment: fixed;
    line-height: 30px;
    padding-bottom: 20px;
}
#game-design-bg{
    background-color: #c93b76;
}
#art-bg{
    background-color: #0d9165;
}
#programm-bg{
    background-color: #16b5b5;
}